<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio | Phoebe Clarke</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'camera.ico' %>
    <%= render 'shared/favicon' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
